html {
    display:grid;
}

body {
    color:rgb(0, 132, 255);
    background-color: rgb(94, 94, 93);
    text-align: center;
    margin: auto;
    
   
}

#new-book-btn {
    background-color: rgb(12, 88, 189);
    color: white;
    padding: 18px;
    border-radius: 15px;
    cursor: pointer;   
    margin-top: 5%;
}    

form {
    background-color: white;
    width: 30vh;
    margin-top: 10%;
    justify-self: center;

}

input {
    margin: 10%; /* creates space between labels and input */
}

#library {
    color: white;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    justify-content: center;
  }
  
  #library > div {
    background-color: rgb(0, 0, 0);
    margin: 5%;
  }
  